<div class="Main_body_div">

    <section class="section_text_header">
        <h3  class="intro_me">{{'greetings' | translate}}</h3>
        <h1 class="my_name">{{'myName' | translate}}</h1>
        <h3 class="expression">{{'firstPageHeader' | translate}}</h3>
        <p  class="introduction">{{'introduction' | translate}}</p>
    
    
    </section>
    <section id="About">
    <h2 >{{'aboutMeHeader' | translate}}</h2>
    <div class="aboutme_main">
     <p class="about_me_main_text"> 
            {{'aboutMeMainText' | translate}}
     </p>
     <img class="pic_of_me"  src="../../assets/images/profile-pic.jpg" alt="{{'PictureOfMe' | translate}}" />
    </div>
    
  
</section>
    
    
    
    
    </div>
    